</head>

<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <div class="main-header__item-list">
        <div class="main-header__item "><a class=<%=path==='index' &&'active' %> href="/">Shop</a></div>
        <div class="main-header__item "><a class=<%=path==='products' &&'active' %> href="/product-list">Products</a></div>
        <div class="main-header__item "><a class=<%=path==='cart' &&'active' %> href="/cart">Cart</a></div>
        <div class="main-header__item "><a class=<%=path==='add product' &&'active' %> href="/admin/add-product">Add
            Product</a></div>
        <div class="main-header__item "><a class=<%=path==='admin products' &&'active' %> href="/admin/admin-products">Admin Products</a></div>
      </div>
      <div class="main-header__item-list-right">
        <div class="main-header__item ">
          <a class=<%=path==='login' &&'active' %> href="/login">Log In</a>
        </div>
        <div class="main-header__item ">
          <a class=<%=path==='sign up' &&'active' %> href="/signup">Sign Up</a>
        </div>
      </div>
    </nav>
  </header>