<%- include('../includes/header', {pageTitle: 'My Products'}) %>
<link rel='stylesheet' href='/styles/cart.css'>
<%- include('../includes/navigation', {path: 'cart'}) %>
<table class="cart">
  <thead>
    <tr>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% { 
      let totalPrice=0;
      cart.forEach(item=> { 
        totalPrice+=item.productRef.price * item.quantity;
    %>
    <tr> 
      <td>
        <%= item.productRef.title %>
      </td>
      <td>
        <%= item.quantity %>
      </td>
      <td>
        <%= item.productRef.price %>
      </td>
    </tr>
    <% }) %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          Total
        </td>
        <td>
        </td>
        <td>
          <%=totalPrice%>
        </td>
      </tr>
    </tfoot>
    <% } %>
</table>
<div class="cart">
<a class="btn" href="/submit-order">Order</a>
<a class="btn" href="/clear-cart">Remove Items</a>
</div>
<%- include('../includes/end') %>