<%- include('../includes/header', {pageTitle: 'My Products'}) %>
<%- include('../includes/navigation', {path: 'cart'}) %>
<% { cart.forEach(item=> { %> 
<div><%= item.productId.title %>
<%= item.quantity %>
</div>
<% }) %>
<% } %>
<%- include('../includes/end') %>